/* Tablet 768px */
@media screen and (max-width: 768px) {
    .nav-wrapper nav {
        display: flex;
    }
    .nav-wrapper nav a {
        margin: 0 10px;
    }
    .logo-wrapper img {
        width: 70%;
    }
    .banner-main-wrapper {
        background-size: 70%;
    }
    .banner-left,
    .wag-right-wrapper,
    .single-video-wrapper,
    .instant-left-wrapper,
    .play-online-right,
    .instant-left-content,
    .play-online-content,
    .career-right img {
        width: 100%;
    }
    .banner-right > img {
        width: 80%;
    }
    .wag-main-wrapper {
        padding: 2rem 0;
    }
    .videos-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .instant-right-wrapper img:nth-child(1) {
        width: 60%;
    }
    .instant-right-wrapper img:nth-child(2) {
        width: 25%;
        left: 30%;
    }
    .instant-left-content {
        text-align: inherit;
    }
    .play-online-left img:nth-child(1) {
        width: 60%;
    }
    .play-online-left img:nth-child(2) {
        width: 25%;
        right: 26%;
    }
    .play-online-content,
    .instant-left-content {
        margin: 0;
    }
    .careers-main-wrapper > .container {
        flex-direction: column;
    }
    .career-right img {
        margin: 2rem auto 0 auto;
    }
    .category-section {
        display: none;
    }
    .category-main-wrapper-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 17px;
    }
    .category-section-mobile {
        display: block;
    }
    .special-video {
        height: 25rem;
    }
    .career-right {
        background-image: url("../images/career-bg.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin-top: 2rem;
    }
    .careers-main-wrapper {
        background-image: inherit;
    }
}

/* Mobile 576px */
@media screen and (max-width: 576px) {
    /* Header */
    .top-header {
        box-shadow: inherit;
    }
    .header-wrapper,
    .nav-wrapper {
        flex-direction: column;
    }
    .nav-wrapper nav {
        flex-direction: column;
        text-align: center;
    }
    .nav-wrapper nav a {
        margin: 7px 0;
    }
    .logo-wrapper {
        padding: 1rem 0;
    }
    .logo-wrapper img {
        margin: auto;
        display: flex;
    }

    /* Banner */
    .banner-main-wrapper > .container {
        flex-direction: column-reverse;
    }
    .banner-left,
    .banner-right > img,
    .wag-right-wrapper,
    .single-video-wrapper,
    .instant-left-wrapper,
    .instant-left-content,
    .play-online-right,
    .play-online-content,
    .careers-left,
    .career-right img {
        width: 100%;
    }
    .banner-main-wrapper {
        background-image: inherit;
    }
    .banner-left {
        background-image: url("../images/2.png");
        padding: 20px 15px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .banner-right {
        margin-bottom: 3rem;
    }

    /* We are gamer */
    .wag-main-wrapper > .container {
        flex-direction: column;
    }
    .wag-right-wrapper {
        text-align: center;
    }
    .wag-main-wrapper {
        background: inherit;
    }
    .videos-wrapper {
        flex-direction: column;
        display: flex;
    }
    .single-video-wrapper {
        text-align: center;
    }
    .play-instant-main-wrapper {
        flex-direction: column;
        padding-top: 0;
    }
    .instant-left-content {
        margin: 0 0 2rem 0;
        text-align: center;
    }
    .instant-right-wrapper img:nth-child(1),
    .play-online-left img:nth-child(1) {
        width: 80%;
    }
    .instant-right-wrapper img:nth-child(2) {
        left: 0;
        width: 35%;
    }
    .play-online-main-wrapper {
        flex-direction: column-reverse;
        padding-top: 0;
    }
    .play-online-left img:nth-child(2) {
        right: 0;
        width: 35%;
    }
    .play-online-content {
        text-align: center;
        margin: 0 0 2rem 0;
    }
    .careers-main-wrapper > .container {
        flex-direction: column;
    }
    .career-right img {
        margin-top: 2rem;
    }
    .category-main-wrapper-mobile {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    section.category-section {
        display: none;
    }
    .cat-item-wrapper p {
        font-size: 10px;
    }
    .cat-item-wrapper {
        justify-content: start;
        gap: 3px;
        padding: 5px 2px;
        margin: 10px 0;
    }
    .cat-item-wrapper img {
        width: 15%;
    }
    .footer-logo {
        width: 40%;
    }
    footer nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .social-icon-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 17px;
    }
    .tos ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }
    .tos ul li a {
        font-size: 14px;
    }
}
