@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap");

/* Global styles */
:root {
    --primary-color: #ff42a5;
    --secondary-color: #0b0223;
}
body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: auto;
}
a {
    text-decoration: none;
    color: var(--secondary-color);
}
p {
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
.btn-group {
    display: flex;
    gap: 20px;
}
.btn {
    background-color: var(--primary-color);
    font-size: 16px;
    padding: 15px 30px;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
}
.second-btn {
    background-color: #4ec5f7;
    font-size: 16px;
    padding: 15px 30px;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
}
.gradient-text {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Header styles */
.top-header {
    padding: 1rem 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}
.follow-wrapper {
    display: flex;
    align-items: center;
}
.follow-wrapper {
    display: flex;
    align-items: center;
    background: rgba(11, 2, 35, 0.1);
    border-radius: 8px;
    padding: 10px 20px;
}
.follow-icon {
    margin-left: 10px;
}
.follow-icon a i {
    font-size: 16px;
    margin: 0 4px;
}
.fa-brands.fa-youtube {
    color: red;
    font-size: 19px;
}
.nav-wrapper nav a {
    margin: 0 16px;
    transition: 0.2s;
}
.nav-wrapper nav a:hover {
    color: var(--primary-color);
}
.logo-wrapper img {
    width: 80%;
}

/* Banner styles */
.banner-main-wrapper {
    background-image: url(../images/2.png);
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 2rem 0;
}
.banner-main-wrapper > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-right > img {
    width: 60%;
    display: block;
    margin: 0 0 0 auto;
}
.banner-title {
    font-size: 72px;
    font-weight: 800;
    margin-left: -8px;
}
.banner-left {
    width: 50%;
}
.banner-left > ul > li {
    list-style: none;
    padding: 8px 0px;
}
.banner-left > ul > li > i {
    padding-right: 9px;
    color: var(--primary-color);
}
.btn-group {
    padding-top: 2rem;
    margin-left: -10px;
}

/* We are gamer section style */
.wag-main-wrapper {
    background: linear-gradient(
        90deg,
        rgba(255, 66, 165, 0.03) 0%,
        rgba(255, 66, 165, 0.03) 100%
    );
}
.wag-main-wrapper > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wag-right-wrapper {
    width: 50%;
    text-align: right;
}
.wag-right-wrapper > p:nth-child(2) {
    padding: 1rem 0;
}
.wag-right-wrapper > .btn {
    margin: 1rem 0;
    display: inline-block;
}

/* Videos section style */
.videos-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-around;
    padding-bottom: 4rem;
    height: 320px;
}
.videos-header {
    padding: 4rem 0 2rem 0;
    text-align: center;
}
.single-video-wrapper {
    height: 100%;
    width: 25%;
}
.video-1,
.video-2,
.video-3,
.video-4 {
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #333;
    transition: 0.3s;
    margin-bottom: 20px;
}
.video-1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../images/7.png);
}
.video-1:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/7.png);
    border: 3px solid var(--primary-color);
}
.video-2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../images/8.png);
}
.video-2:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/8.png);
    border: 3px solid var(--primary-color);
}
.video-3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../images/10.png);
}
.video-3:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/10.png);
    border: 3px solid var(--primary-color);
}
.video-4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../images/9.png);
}
.video-4:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/9.png);
    border: 3px solid var(--primary-color);
}
.play-icon a {
    color: var(--primary-color);
}
.play-icon {
    text-align: center;
    display: none;
}
.video-1:hover .play-icon {
    display: block;
}
.video-2:hover .play-icon {
    display: block;
}
.video-3:hover .play-icon {
    display: block;
}
.video-4:hover .play-icon {
    display: block;
}
.play-icon i {
    color: #fff;
    font-size: 40px;
}

/* Play instant section style */
.play-instant-main-wrapper,
.play-online-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0 10rem 0;
}
.instant-right-wrapper,
.play-online-left {
    position: relative;
}
.instant-right-wrapper img:nth-child(1) {
    width: 90%;
    display: block;
    margin: 0 0 0 auto;
}
.play-online-left img:nth-child(1) {
    width: 90%;
    display: block;
    margin: 0 auto 0 0;
}
.instant-right-wrapper img:nth-child(2) {
    width: 40%;
    position: absolute;
    bottom: -18%;
    left: -7%;
}

.play-online-left img:nth-child(2) {
    width: 40%;
    position: absolute;
    bottom: -18%;
    right: -12%;
}
.instant-left-wrapper,
.play-online-right {
    width: 50%;
}
.instant-left-content {
    width: 60%;
    text-align: right;
    margin: 0 0 0 16%;
}
.play-online-content {
    width: 60%;
    margin: 0 0 0 33%;
}
.instant-left-content h2,
.play-online-content h2 {
    padding-bottom: 17px;
}

/* Careers section styles */
.careers-main-wrapper {
    background-color: var(--primary-color);
    background-image: url("../images/career-bg.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}
.careers-main-wrapper > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}
.careers-left {
    width: 60%;
    color: #fff;
}
.careers-left h2 {
    padding-bottom: 1rem;
}
.careers-left p {
    padding: 1rem 0;
}
.career-right img {
    display: block;
    margin: 0 0 0 auto;
    width: 75%;
}
.career-pos-left ul li {
    color: #fff;
    list-style: none;
    margin: 17px 0;
}
.career-pos-right ul li {
    color: #fff;
    list-style: none;
    margin: 17px 0;
    text-align: right;
}
.career-positions-wrapper {
    display: flex;
}
.careerBtn {
    background-color: #fff;
    font-size: 16px;
    padding: 15px 30px;
    color: var(--primary-color);
    border-radius: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 1rem;
}

/* Category section style */
.category-wrapper-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    padding-bottom: 2rem;
}
.categories-wrapper-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}
.category-section,
.category-section-mobile {
    background: linear-gradient(
        90deg,
        rgba(255, 66, 165, 0.03) 0%,
        rgba(255, 66, 165, 0.03) 100%
    );
    padding: 5rem 0;
}
.cat-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    background: #fff;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #fff;
    transition: 0.2s;
}
.cat-item-wrapper:hover {
    border: 1px solid var(--primary-color);
}
.cat-item-wrapper p a {
    transition: 0.2s;
}
.cat-item-wrapper:hover p a {
    color: var(--primary-color);
}
.cat-item-wrapper img {
    width: 19%;
}
.category-main-wrapper-mobile {
    display: none;
}
.category-section-mobile {
    display: none;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
}
.footer-logo {
    width: 18%;
}
footer nav a {
    color: #fff;
    margin: 10px;
}
footer nav {
    padding: 21px 0;
}
.social-icon-group {
    padding-top: 15px;
}
.social-icon-group a i {
    color: #fff;
    margin: 0 15px;
    font-size: 20px;
}
.tos {
    padding-top: 20px;
}
.tos ul {
    display: flex;
    justify-content: center;
    padding: 13px 0;
}
.tos ul li {
    list-style: none;
}
.tos ul li a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 15px;
}
footer .fa-brands.fa-youtube {
    color: #fff;
}
footer p:last-child {
    color: rgba(255, 255, 255, 0.6);
}
